@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

h1, ul, button {
  margin: 2% 4%;
}

h1, h2, p {
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: #333;
}

h1, h2, label {
  font-weight: 700;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border-bottom: 1px solid #eee;
}

button {
  padding: 20px;
  border: none;
  border-radius: 6px;
  background: #333;
  color: #fff;
  font-size: 1em;
}

button:hover {
  background: #666;
  cursor: pointer;
}
